.vs/
.idea/
.vscode/
.reference/
/NeteaseMusicCloudMatch/
**/bin/
**/obj/
artifacts/
.artifacts/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
session.dat
Config.ini
.env
*.pfx
*.p12
*.snk
.DS_Store
Thumbs.db
